/* PROJECTS */

  .project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
  }
  
  .project-item{
    padding: 1.5rem;
    flex: 1;
    background: white;
  }

  
  .project-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 100%;
    display: flex;
  }

  .project-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .detail-container{
    flex: 1;
    height: 100%;
    text-align: center;
  }

  .project-title{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
