@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');

#root {
  font-family: 'M PLUS Code Latin', monospace;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}
